body{
    background-color: blue;
    color: white;
    text-align: center;
}
img{
    display: flex;
    text-align: center;
}
p{
background-color: brown;
color: cadetblue;
text-align: center;

     }


